__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
output/
data/
ckpt/
*.txt
!requirements.txt
.vscode/
.idea/
cifar/models/cifar10/corruptions/Standard.pt
cifar/models/cifar10/corruptions/Standard.pt
*.pt
*.pth
cifar/models/cifar10/corruptions/Standard.pt
*.pt
*.pth
*.bin
cifar_backup/models/cifar10/corruptions/Standard.pt
cifar_backup/
*.pt
*.pth
*.bin
cifar_backup/
*.pt
*.pth
*.bin
